@import "groundworkcss/variables";
@import "groundworkcss/mixins";

a, a:visited {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: $link-active;
  }
}

button, .button, a.button, a.button:visited, input[type=submit],  input[type=button], input[type=reset], [role=button] {
  font-weight: 400;
  font-size: 1.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
  @include gradient($button-color,darken($button-color, 20%));
  @include drop-shadow($button-border-color,2px,0px,1px);
  &.on, &:hover, &:focus {
    @include gradient(darken($button-color, 10%),darken($button-color, 30%));
  }
}

header {
  background-image: url('header.png');
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 593px;
  padding-top: 40px;
  position: relative;
  color: white;
}

header h1 {
  min-height: 305px;
  background-image: url('BytesAtoms_Logo_White.svg');
  background-repeat: no-repeat;
  background-position: center top;
}

header h2 {
  font-weight: 400;
  font-size: 35px;
}

header h3 {
  font-weight: 300;
  font-size: 25px;
}

.nav-bar {
  background-color: white;
}

// Typography overrides

.punchy {
  color: #C8A45E;
}

h3.punchy {
  font-weight: 700;
  font-size: 40px;
}

h4.punchy {
  font-size: 24px;
}

h2 {
  font-weight: 100;
  font-size: 36px;
  text-align: center;
}
h3 {
  font-weight: 400;
  font-size: 24px;
}

p, ul, ol, dl {
  font-size: 17px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2.petite {
  font-size: 28px;
}

h3.petite {
  font-size: 20px;
}

hr {
  background-image: url(line.png);
  background-repeat: no-repeat;
  background-position: center top;
  border: none;
  height: 5px;
}

.polaroid {
  @include drop-shadow(rgba(0, 0, 0, 0.25),7px,0,5px);
}

// Responsive overrides

.hide {
  display:none;
}

// Grid overrides

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/

.ptn,.pvn,.pan{padding-top:0px !important}
.pts,.pvs,.pas{padding-top:5px !important}
.ptm,.pvm,.pam{padding-top:10px !important}
.ptl,.pvl,.pal{padding-top:20px !important}
.prn,.phn,.pan{padding-right:0px !important}
.prs,.phs,.pas{padding-right:5px !important}
.prm,.phm,.pam{padding-right:10px !important}
.prl,.phl,.pal{padding-right:20px !important}
.pbn,.pvn,.pan{padding-bottom:0px !important}
.pbs,.pvs,.pas{padding-bottom:5px !important}
.pbm,.pvm,.pam{padding-bottom:10px !important}
.pbl,.pvl,.pal{padding-bottom:20px !important}
.pln,.phn,.pan{padding-left:0px !important}
.pls,.phs,.pas{padding-left:5px !important}
.plm,.phm,.pam{padding-left:10px !important}
.pll,.phl,.pal{padding-left:20px !important}
.mtn,.mvn,.man{margin-top:0px !important}
.mts,.mvs,.mas{margin-top:5px !important}
.mtm,.mvm,.mam{margin-top:10px !important}
.mtl,.mvl,.mal{margin-top:20px !important}
.mrn,.mhn,.man{margin-right:0px !important}
.mrs,.mhs,.mas{margin-right:5px !important}
.mrm,.mhm,.mam{margin-right:10px !important}
.mrl,.mhl,.mal{margin-right:20px !important}
.mbn,.mvn,.man{margin-bottom:0px !important}
.mbs,.mvs,.mas{margin-bottom:5px !important}
.mbm,.mvm,.mam{margin-bottom:10px !important}
.mbl,.mvl,.mal{margin-bottom:20px !important}
.mln,.mhn,.man{margin-left:0px !important}
.mls,.mhs,.mas{margin-left:5px !important}
.mlm,.mhm,.mam{margin-left:10px !important}
.mll,.mhl,.mal{margin-left:20px !important}
.mra,.mha{margin-right:auto !important}
.mla,.mha{margin-left:auto !important}
