a, a:visited {
  text-decoration: none;
  color: #7a7a7a;
}

a, a:hover {
  text-decoration: none;
}

button, .button {
  font-weight: 200;
  font-size: 1.5em;
  background: #35a5ed;
}

button:hover {
  background: #1c78cb;
}

h3 {
  font-weight: 100;
  font-size: 27px;
}


