%header.white.band.padded
  .container
    %h2 Bytes and Atoms
    %nav.nav.inline.menu.gap-top
      %ul
        %li
          %a{:href => "./home.html"}
            %i.icon-home
        %li.menu
          %a{:href => "#"} Layouts
          %ul
            %li
              %a{:href => "./layout-1.html"} Layout 1
            %li
              %a{:href => "./layout-2.html"} Layout 2
            %li
              %a{:href => "./layout-3.html"} Layout 3
            %li
              %a{:href => "./layout-4.html"} Layout 4
            %li
              %a{:href => "./layout-5.html"} Layout 5
        %li
          %a{:href => "./kitchen-sink.html"} Kitchen Sink
    .container
      %article.row
        %aside.one.fourth.right-three.padded.border-left
          %h1 Section Heading 1
          %ul.list
            %li Unordered list item #1
            %li Unordered list item #2
            %li Unordered list item #3
            %li Unordered list item #4
          %ol.list
            %li Ordered list item #1
            %li Ordered list item #2
            %li Ordered list item #3
          %hr/
          %h3 Section Heading 3
          .row
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
          .row
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
          .row
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
            .one.mobile.half.padded
              %img{:alt => "", :src => "http://placehold.it/120x85/198d98/ffffff/"}/
        %section.three.fourths.left-one.padded
          .pad-bottom
            .cycle-slideshow{"data-cycle-fx" => "scrollHorz", "data-cycle-pause-on-hover" => "true"}
              %img{:alt => "", :src => "http://placehold.it/880x400/24cada/ffffff/&text=Slide+1"}/
              %img{:alt => "", :src => "http://placehold.it/880x400/bada55/ffffff/&text=Slide+2"}/
              %img{:alt => "", :src => "http://placehold.it/880x400/c82647/ffffff/&text=Slide+3"}/
              %img{:alt => "", :src => "http://placehold.it/880x400/198d98/ffffff/&text=Slide+4"}/
          %img.pull-left.gap-right.gap-bottom{:alt => "", :src => "http://placehold.it/300x200/198d98/ffffff/"}/
          %h1 Section Heading 1
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
          %hr/
          %img.pull-right.gap-left.gap-bottom{:alt => "", :src => "http://placehold.it/300x200/198d98/ffffff/"}/
          %h3 Section Heading 3
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
          %hr/
          %img.pull-left.gap-right.gap-bottom{:alt => "", :src => "http://placehold.it/300x200/198d98/ffffff/"}/
          %h3 Section Heading 3
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.
